{% extends "base.html" %}



{% block title %}
  Creación de Usuario

{% endblock title %}

{% block content %}


<head>

  {% load static %}


  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/tabla.css' %}">
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
  
  
</head>


<body>

    
    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Formulario De Creación De Usuario</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Home</a></li>
              <li class="breadcrumb-item">Forms</li>
              <li class="breadcrumb-item active">Elements</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
       
       
       <!--  <section class="section">
          <div class="row">
            <div class="col-lg-6">     -->
    
              <div class="card">
                <div class="card-body">
                 <!-- <h4 class="card-title">Consulta De Entidad</h4>    --> 
                  <h4 >Creación De Usuario</h4>

                 

<form method="POST">
    <table>
        {{form}}
    </table>

    {% csrf_token %}  <!--  se pone el token para que permita guardarlo por seguridad --> 



    <button type="submit">Enviar </button>
    


    
</form>



</div>
 <a href="{% url 'inicio' %}">Regresar al inicio </a>
</div>



{% block scripts %}
  <script>
    var message = "{{ mensaje }}";
    if (message) {
      alert(message);
    }
  </script>
{% endblock %}



</body>
 
{% endblock content %}




